div {
    margin: auto;
    width: 600px;
}

div h1 img {
    display: inline;
}

div img {
    margin: auto;
    display: block;
}

div span {
    display: block;
    padding-bottom: 10px;
}

div span img {
    float: left;
    clear: left;
    padding-right: 10px;
}