---
---

@import "{{ site.theme }}";

header p {
    font-size: larger;
    padding-left: 10px;
}

.fullwidth {
    float: left;
    clear: left;
    width: 100%;
}

section.fullwidth h2 {
    text-align: center;
    margin: 10px 0px 30px;
}

section span {
    display: block;
    float: left;
    width: 200px;
    text-align: justify;
}

section span:not(:last-of-type) {
    margin-right: 10px;
}

section span:not(:first-of-type) {
    margin-left: 10px;
}

section span img[height="50"] {
    margin: 25px 0px;
}

